* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {background-color:darkblue ; padding: 10px;}

nav a {color: white; display: block; padding: 10px;}

h1 {color: darkblue;}

img {width:150px ;
height:auto ;
border:1px solid black ;
padding: 2px;
box-shadow: 0 0 30px gray;
margin: 1rem;}


p { padding: 0px ;
}

aside { width: 20em;
    
    text-align: center;
}
aside img { width: 200px;
height: auto;}

main img{
width: 150px; 

height: auto;
border: 1px solid gray;
padding: 2px;
background-color: #eee;
color: aqua;
box-shadow: 0 0 30px gray;
float: right;}
footer { margin-top: 49px;
    border-top: 1px solid gray;
    text-align: center;
    
}
main {padding: 1px;
max-width: 20em
;}

/* Class Selector */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
  
}
aside h2 {
  position: absolute;
  bottom: 280px;
  left: 200px
}